$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$cream: #ffeed0;
$maroon-red: #c83333;
$red: #f00;
$github-red: #d53c4c;
$stack-orange: #f27f33;
$green: #080;
$turquise: #1bb580;
$light-gray: #aaa;
$med-light-gray: #bbb;
$med-dark-gray: #ddd;
$dark-gray: #eee;
$black: #000;

* {
  box-sizing: border-box;
}

body {
  background: $med-dark-gray;

  .row {
    border: 1px solid $black;
    height: auto;
    margin: 20px;
  }
}

.column {
  float: left;
  // padding: 10px;
  height: 840px;
}

.left {
  background-color: $light-gray;
  height: auto;
  padding: 10px;
  // min-width: 312.5px;
  width: 25%;
}

.title-box {
  background-color: $green;
  border: 1px solid $black;
  height: 200px;
  margin: 50px auto;
  min-width: 60%;
  text-align: center;
  width: 100%;
}

.auth-box {
  background: $green;
  border: 1px solid $black;
  // height: 400px;
  height: auto;
  margin: 50px auto;
  text-align: center;
  width: 100%;
}

.login-box {
  background: none;
  border: 0;
  margin: 0;
}

.signed-in-box {
  // display: none;
  background: $green;
  height: auto;
  margin: 0;
  width: 100%;
}

.right {
  background-color: $med-light-gray;
  border-left: 1px solid $black;
  height: auto;
  // min-width: 50%;
  // width: 75%;
  // min-width: 937.5;
  width: 75%;
  // width: 800px;
}

.result-box {
  background: $green;
  border: 0;
  // height: 140px;
  height: auto;
  padding: 25px;
  text-align: center;
  width: 100%;
}

.result-text {
  background: $red;
  padding: 8px;
}

.game-box {
  background: $cream;
  border: 0;
  // border: 1px solid $black;
  // height: 460px;
  height: auto;
  padding: 30px;
  text-align: center;
  width: 100%;
}

// Tic-Tac-Toe Box
.ttt {
  border: 2px solid $black;
  // padding: 30px;
  font-size: 80px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  width: 400px;
  // margin-bottom: 50px;
}

.grid {
  background: $stack-orange;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.table {
  border-collapse: collapse;
  // vertical-align: middle;
  width: 100%;
}

td {
  border: 3px solid $black;
  height: 33.333%;
  text-align: center;
  // vertical-align: middle;
  width: 33.333%;

  ::after {
    content: '';
    display: block;
    margin-top: 100%;
  }
}

.cell0 {
  border-left-color: transparent;
  border-top-color: transparent;
}

.cell1 {
  border-top-color: transparent;
}

.cell2 {
  border-right-color: transparent;
  border-top-color: transparent;
}

.cell3 {
  border-left-color: transparent;
}

.cell5 {
  border-right-color: transparent;
}

.cell6 {
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.cell7 {
  border-bottom-color: transparent;
}

.cell8 {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

//
// .gameboard-text {
//   background: $red;
//   padding: 8px;
// }
//

.turn-box {
  background: $maroon-red;
  font-size: 30px;
  height: auto;
}

.footer-box {
  // margin: 0 0 0 25%;
  // width: 50%;
  background: $maroon-red;
  border: 0;
  height: 100%;
  padding: 25px;
  text-align: center;
  width: 100%;
}

.footer-column {
  float: left;
  width: 50%;

  ::after {
    clear: both;
    content: '';
    display: table;
  }
}

.footer-boxes {
  background: $dark-gray;
  border: 1px solid $black;
  border-radius: 5px;
}

.footer-text {
  // background: $dark-gray;
  padding: 8px;
  width: 200px;
}

// Clear floats after the columns
.row::after {
  clear: both;
  content: '';
  display: table;
}

// Responsive layout - makes the two columns stack on top of each other instead of next to each other
@media (max-width: 880px) {
  .column {
    width: 100%;
  }

  .left {
    height: auto;
    margin: auto;
  }

  .right {
    border-left: 0;
  }

  .title-box {
    border-bottom: 0;
    // height: 100px;
  }

  .auth-box {
    // height: 140px;
  }
}
