$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$cream: #ffeed0;
$maroon-red: #c83333;
$red: #f00;
$github-red: #d53c4c;
$green: #080;
$turquise: #1bb580;
$light-gray: #aaa;
$med-light-gray: #bbb;
$dark-gray: #eee;
$black: #000;

* {
  box-sizing: border-box;
}
// body {
//   color: white;
// }

.row {
  margin: 20;
}

.column {
  float: left;
  // padding: 10px;
  height: 800px;
}

.left {
  background-color: $light-gray;
  padding: 10px;
  // min-width: 312.5px;
  width: 25%;
}

.title-box {
  background-color: $green;
  border: 1px solid $black;
  height: 200px;
  margin: 50px auto;
  min-width: 60%;
  text-align: center;
  width: 100%;
}

.auth-box {
  background: $green;
  border: 1px solid $black;
  // height: 400px;
  height: auto;
  margin: auto;
  text-align: center;
  width: 100%;
}

.login-box {
  background: none;
  border: 0;
}

.signed-in-box {
  // display: none;
  background: $green;
  height: auto;
  width: 100%;
}

.right {
  background-color: $med-light-gray;
  // min-width: 50%;
  // width: 75%;
  // min-width: 937.5;
  width: 75%;
  // width: 800px;
}

.result-box {
  background: $green;
  height: 140px;
  padding: 25px;
  text-align: center;
  width: 100%;
}

.result-text {
  background: $red;
  padding: 8px;
}

.gameboard {
  background: $cream;
  height: 460px;
  padding: 30px;
  text-align: center;
  width: 100%;
}

.gameboard-text {
  background: $red;
  padding: 8px;
}

.right-footer-box {
  // margin: 0 0 0 25%;
  // width: 50%;
  background: $maroon-red;
  height: 200px;
  padding: 25px;
  text-align: center;
  width: 100%;
}

.right-footer-text {
  background: $dark-gray;
  padding: 8px;
}

// Clear floats after the columns
.row::after {
  clear: both;
  content: '';
  display: table;
}

// Responsive layout - makes the two columns stack on top of each other instead of next to each other
@media (max-width: 790px) {
  .column {
    width: 100%;
  }

  .left {
    height: auto;
    margin: auto;
  }

  .title-box {
    border-bottom: 0;
    // height: 100px;
  }

  .auth-box {
    // height: 140px;
  }
}
